body {
  background-image: url("http://todofondos.com/bin/fondos/01/39/51d.jpg");
}
h1.rojo {
  color: red;
}

.navbar {
  font-size: 20px;
  margin-bottom: 70px;
  background-color: rebeccapurple;
}

#tabla_listado {
  font-size: 20px;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 30px;
}

input.error {
  border: 2px red dashed;
}
.panic {
  z-index: 20;
  box-sizing: border-box;
  display: block;
  color: grey;
  font-size: 50px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  bottom: 30px;
  left: 10px;
  position: absolute;
  font-family: "Notable", sans-serif;
  float: left;
  border: 3px solid hsl(0, 0%, 0%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 1, 1) 100%);
}
.tabla-online {
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 380px;
  height: 550px;
  background-color: rebeccapurple;
  margin-top: -60px;
  margin-left: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.gente {
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 98%;
  height: 15%;
  background-color: grey;
  margin: 1%;
}
.imagen{
  height: 96%;
  width:30%;
  border: 2px solid purple;
  border-radius: 25px;
}
.text{
  color: white;
}

.chat {
  border: 1px solid black;
  border-radius: 25px;
  width: 700px;
  height: 550px;
  background-color: pink;
  margin-top: -60px;
  margin-left: 29%;
  top: 155px;
  position: absolute;
}
.campo {
  border: 1px solid black;
  border-radius: 25px;
  width: 98%;
  height: 90%;
  background-color: white;
  margin-left: 1%;
  margin-top: 1%;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}
.mensaje {
  border: 1px solid black;
  border-radius: 25px;
  width: 98%;
  height: 40px;
  background-color: blue;
  bottom: 5px;
  position: absolute;
  margin-left: 10px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  margin-right: 1px;
}
::-webkit-scrollbar-track {
  background-color: rebeccapurple;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgb(230, 189, 231) 0%,
    rgb(128, 2, 100) 100%
  );
  border-radius: 25px;
}
::-webkit-scrollbar-button {
  background-color: rebeccapurple;
  visibility: hidden;
}
::-webkit-scrollbar-corner {
  background-color: black;
}

#mini-carousel {
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 265px;
  height: 550px;
  background-color: rebeccapurple;
  top: 94px;
  right: 3px;
  position: absolute;
}
