.body {
  background-color: rgb(243, 129, 237);
}

h1.rojo {
  color: red;
  
}

.navbar {
  font-size: 20px;
  margin-bottom: 70px;
  background-color: rebeccapurple;
}

#tabla_listado {
  font-size: 20px;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 30px;
}

input.error {
  border: 2px red dashed;
}
#carousel {
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 1350px;
  height: 500px;
  background: rebeccapurple;
  margin-top: -40px;
  margin-left: 10px;
}
.principal {
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 99%;
  height: 600px;
  background: white;
  margin-top: -40px;
  margin-left: 10px;
}
.container-crea {
  padding: 30px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 60%;
  height: 610px;
  background-color: rebeccapurple;
  margin-top: 20px;
  margin-left: 20%;
  color: white;
}
.container-edita {
  padding: 30px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 60%;
  height: 540px;
  background-color: rebeccapurple;
  margin-top: -50px;
  margin-left: 20%;
  color: white;
}

.container-elimina {
  padding: 30px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 40%;
  height: 200px;
  background-color: rebeccapurple;
  margin-top: 200px;
  margin-left: 30%;
  color: white;
}

.panic {
  z-index: 20;
  box-sizing: border-box;
  display: block;
  color: grey;
  font-size: 50px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  bottom: 30px;
  left: 10px;
  position: absolute;
  font-family: "Notable", sans-serif;
  float: left;
  border: 3px solid hsl(0, 0%, 0%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 1, 1) 100%);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.imagen {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 200px;
  margin-left: 200px;
}
