h1.rojo {
  color: red;
}

.navbar {
  font-size: 20px;
  margin-bottom: 70px;
  background-color: rebeccapurple;
}

#tabla_listado {
  font-size: 20px;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 30px;
}

input.error {
  border: 2px red dashed;
}

.container-puntuar {
  padding: 30px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  width: 300px;
  height: 430px;
  background-color: rebeccapurple;
  margin-top: -30px;
  margin-left: 40%;
  color: white;
}

.panic {
  z-index: 20;
  box-sizing: border-box;
  display: block;
  color: grey;
  font-size: 50px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 25%;
  text-align: center;
  bottom: 30px;
  right: 10px;
  position: absolute;
  font-family: "Notable", sans-serif;
  float: right;
  border: 3px solid hsl(0, 0%, 0%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 1, 1) 100%);
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: gold;
}

input[type="radio"]:checked ~ label {
  color: gold;
}
